body {
  background-image: url('/images/Wiki-background.png');
  background-color: #000;
  color: #E80;
  font-family: Inconsolata, Consolas, Terminus,
    "DejaVu Sans Mono", Menlo, "Liberation Mono",
    Monaco, "Lucida Console", monospace;
}

hr {
  border-color: #E80;
  background-color: #E80;
}

header {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

#menubar {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  height: auto;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

#menubar li {
  display: block;
  float:left;
  padding: 0.3em 0.15em;
  box-sizing: border-box;
}

#menubar a {
  margin:  auto;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#menubar a:hover, a:active, a:focus {
  outline: 0;
}

input {
  background-color: #111;
  font-size: 0.9em;
  color: #E80;
  border: 1px dotted #E80;
  padding: 1px;
  margin: 0px;
  max-width: 90%;
  width: auto;
}
input:disabled {
  color: #740;
  background-color: #000;
}

#content {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  padding: auto auto;
  min-height: 200px;
  height: auto;
  width: 90%;
  margin: 0 auto;
}

/****************************************************************************
 * Backbone Views
 ****************************************************************************/

/* Common */
#left-panel, #right-panel {
  padding: 0.5em;
  min-height: 10em;
  height: auto;
  box-sizing: border-box;
  overflow: auto;
}

#left-panel {
  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

  width: 25%;               /* For old syntax, otherwise collapses. */
}

#right-panel {
  width: 75%;
}

.config-edit-scroll {
  overflow: auto;
}

/****************************************************************************
 * PNotify positioning
 * + title fix - http://sciactive.com/pnotify/#comment-777657057
 ****************************************************************************/
h4.ui-pnotify-title { display: inline; }

.ui-pnotify.notification-bar {
  margin-left: 15%;
  right: auto;
  bottom: 0;
  top: auto;
  left: auto;
}


/****************************************************************************
 * Loading Animation - http://projects.lukehaas.me/css-loaders/
 * <div class="loader">Loading...</div>
 ****************************************************************************/

.loader {
  overflow: hidden;
  margin: auto auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.2em solid rgba(238,136,0,0.0);
  border-right: 0.2em solid rgba(238,136,0,0.1);
  border-bottom: 0.2em solid rgba(238,136,0,0.3);
  border-left: 0.2em solid rgba(238,136,0,0.9);
  -webkit-animation: load 2.0s infinite linear;
  animation: load 2.0s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}